<table class="table table-sm" style="margin-bottom: 0px;">
  <tbody>
    <tr>
      <td><%= link_to bill.id, bill %></td>
      <td><b><%= bill.supplier.name %></b></td>
      <td>Reçu: <%= bill.items_received ? "✅" : "❌" %></td>
      <td><%= bill.day %></td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-sm table-bordered">
  <tbody>
    <tr>
      <th>#</th>
      <th>Qty</th>
      <th>Part</th>
      <th>Description</th>
      <th>Price</th>
      <th>Tps</th>
      <th>Tvq</th>
      <th>Total</th>
      <th></th>
    </tr>
    <% bill.bill_items.each do |item| %>
      <tr>
        <td><%= link_to item.id, item %></td>
        <td><%= item.quantity %></td>
        <td><%= link_to(item.part.name, item.part) if item.part %></td>
        <td><%= item.description %></td>
        <td><%= number_to_currency item.price, format: '%n%u' %></td>
        <td><%= number_to_currency item.tps, format: '%n%u' %></td>
        <td><%= number_to_currency item.tvq, format: '%n%u' %></td>
        <td><%= number_to_currency item.price + (item.tps || 0.0) + (item.tvq || 0.0), format: '%n%u' %></td>
        <td><%= link_to "X", item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    <tr>
      <th style="text-align: right;" colspan="7">Sous total:</th>
      <%= @subtotal = bill.items.map(&:price_with_taxes).sum %>
      <td><%= number_to_currency @subtotal, format: '%n%u' %></td>
      <td colspan="1"></td>
    </tr>
    <tr>
      <th style="text-align: right;" colspan="7">Coût d'expédition:</th>
      <td><%= bill.shipping_cost.blank? ? "-" : number_to_currency(bill.shipping_cost, format: '%n%u') %></td>
      <td colspan="1"></td>
    </tr>
    <tr>
      <th style="text-align: right;" colspan="7">Total:</th>
      <td><%= number_to_currency @subtotal + (bill.shipping_cost || 0), format: '%n%u' %></td>
      <th></th>
    </tr>
  </tbody>
</table> 
