<table class="table table-sm">
  <tbody>
    <tr>
      <td><%= link_to bill.id, bill %></td>
      <td><%= bill.supplier.name %></td>
      <td>Coût d'expédition:</td>
      <td><%= number_to_currency bill.shipping_cost || 0, format: '%n%u' %></td>
      <td>Reçu:</td>
      <td><%= bill.items_received %></td>
      <td><%= bill.day %></td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-sm">
  <tbody>
    <tr>
      <th>#</th>
      <th>Qty</th>
      <th>Part</th>
      <th>Desc</th>
      <th>Price</th>
      <th>Tps</th>
      <th>Tvq</th>
      <th></th>
    </tr>
    <% bill.bill_items.each do |item| %>
      <tr>
        <td><%= link_to item.id, item %></td>
        <td><%= item.quantity %></td>
        <td><%= link_to(item.part.name, item.part) if item.part %></td>
        <td><%= item.description %></td>
        <td><%= number_to_currency item.price, format: '%n%u' %></td>
        <td><%= number_to_currency item.tps, format: '%n%u' %></td>
        <td><%= number_to_currency item.tvq, format: '%n%u' %></td>
        <td><%= link_to "X", item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    <tr>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
      <th><%= number_to_currency bill.items.map(&:price).sum, format: '%n%u' %></th>
      <th><%= number_to_currency bill.items.map(&:tps).sum, format: '%n%u' %></th>
      <th><%= number_to_currency bill.items.map(&:tvq).sum, format: '%n%u' %></th>
      <th></th>
    </tr>
  </tbody>
</table> 
