<p id="notice"><%= notice %></p>

<h1>Liste d'achats</h1>

<table>
  <thead>
    <tr>
      <th>Qté</th>
      <th>Item</th>
      <th>Commentaire</th>
      <th>Fournisseur</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= form_with(model: ShoppingItem.new, local: true) do |form| %>
        <td><%= form.text_field :quantity, size: "3" %></td>
        <td><%= form.text_field :title, size: "18" %></td>
        <td><%= form.text_field :comment, size: "50" %></td>
        <td><%= form.collection_select :supplier_id, Supplier.all.order(:name), :id, :name, include_blank: true %></td>
        <td><%= form.submit "Ajouter" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<br><br>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Qté</th>
      <th>Item</th>
      <th>Commentaire</th>
      <th>Fournisseur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_items.each do |shopping_item| %>
      <tr>
        <td><%= shopping_item.quantity %></td>
        <td><%= shopping_item.title %></td>
        <td><%= shopping_item.comment %></td>
        <td><%= shopping_item.supplier.name if shopping_item.supplier %></td>
        <td><%= link_to 'Show', shopping_item %></td>
        <td><%= link_to 'Edit', edit_shopping_item_path(shopping_item) %></td>
        <td><%= link_to 'Destroy', shopping_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopping Item', new_shopping_item_path %>
