<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Admin", dashboard_index_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to_highlight_active "Achats", purchases_path %>
          </li>
          <li class="nav-item">
            <%= link_to_highlight_active "Pièces", parts_path %>
          </li>
          <li class="nav-item">
            <%= link_to_highlight_active "Fournisseurs", suppliers_path %>
          </li>
        </ul>
      </div>
    </nav>

    <div style="width: 70%; margin: auto;">
      <%= yield %>
    </div>
  </body>
</html>
